@inherits Custom.Hybrid.Razor14

<div @Edit.TagToolbar()>
  <h1>
      System Queries
  </h1>
  <div>
      
      
      Click here 
      @Edit.Toolbar(actions: "app", settings: new { hover = "none", show = "always" })

      to discover and play with data-sources, go into the admin-section and experiment with the queries.
  </div>
</div>

@Html.Partial("../System-Types/Part ExportBundles.cshtml")
