<div class="sc-element">
<h1>
    System Queries
</h1>
<div>
    @Edit.Toolbar()
    
    Click here 
    @Edit.Toolbar(actions: "app", settings: new { hover = "none", show = "always" })

    to discover and play with data-sources, go into the admin-section and experiment with the queries.
</div>


</div>